.custom-list {
  /* 1. 枠線の定義: 太さ, 線種, 色 */
  border: 3px solid #007bff;

  /* 2. 角の丸みの定義: pxまたは%で指定 */
  /* ここを大きくするほど丸みが強くなります */
  border-radius: 15px;

  /* 3. 内側の余白: 枠線と文章の間隔 */
  padding: 20px;

  /* (オプション) 背景色の設定 */
  background-color: #f8f9fa;

  /* (オプション) 囲み要素の幅の調整 */
  width: 80%;
  margin: 20px auto;
  /* 中央寄せ用 */

  list-style-type: none;
}

.container {
  /* 1. 幅を固定または最大値を設定する */
  /* 中央寄せを機能させるには、幅をビューポートの100%未満に設定する必要があります */
  width: 90%;
  /* または最大幅を設定（例：PC環境での見やすさのため） */
  max-width: 1000px;

  /* 2. 中央寄せの魔法のコード: 左右のマージンを自動調整 */
  /* 上下のマージンは任意の値、左右のマージンは 'auto' に設定します */
  margin-left: auto;
  margin-right: auto;

  /* 上記2行は以下のように短縮して記述するのが一般的です */
  /* margin: 20px auto; */

  /* (オプション) わかりやすいように枠線を設定 */
  /*border: 1px solid #ccc;
    padding: 10px;*/
}

.content-section {
  margin-bottom: 100px;
  margin-top: 100px;
}


.trpg-6 {
  font-size: 18px;
  font-weight: bold;
}

span {
  color: black;
  background-color: rgb(200, 216, 235);
  font-weight: 500;
}

.trpg {

  /* 太さ 3px、種類 実線 (solid)、色 青 (#007bff) の枠線を適用 */
  border: 3px solid #01080f;

  /* 枠線とコンテンツの間に余白を持たせるためpaddingもよく使用されます */
  padding: 15px;
}

table {
  /* 枠線を一本化する（必須の設定） */
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th,
td {
  /* 各セルに枠線を適用 */
  border: 1px solid #666;
  /* セル内の余白を設定 */
  padding: 10px;
}

td {
  text-align: center;
}

.no-wrap {
  /* セル内のテキストが改行されるのを禁止する */
  white-space: nowrap;
}

th.description,
td.description {
  text-align: left;
  /* 左揃えに設定 */
}

th {
  background-color: antiquewhite;
}

.png {
  text-align: center;
}

.kobushi {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #eef2f7;
}

.kobushi-2 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eef2f7;
  /* 太さ 3px、種類 実線 (solid)、色 青 (#007bff) の枠線を適用 */
  border: 2px solid #6e6e6e;
  /* 枠線とコンテンツの間に余白を持たせるためpaddingもよく使用されます */
  padding: 15px;
}



@media screen and (max-width: 768px) {
  p {
    background-color: white;
    color: black;
  }
}

@media screen and (max-width: 480px) {
  p {
    background-color: white;
    color: black;
  }
}

img {
  width: 80%;
  display: block;
  /* imgタグはインライン要素のため、ブロック要素にする */
  margin: 0 auto;
  /* ブロックレベル要素のものを中央に配置する */
}

.timeline {
  width: 40%;
  border: 1px solid #333;
  padding: 10px;
}

.inner p {
  font-size: 17px;
  margin-bottom: 3px;
}

.suc {
  background-color: #f5b5b5;
  margin-bottom: 3px;
}

.fail {
  background-color: #8bb6da;
}

.int {
  font-size: 14px;
  margin-bottom: 3px;
  text-align: right;
}

.job {
  background-color: #eef2f7;
  font-weight: bold;
}

.sns {
  font-size: 18px;
  background-color: #eef2f7;
}

.sns-list {
  list-style-type: none;
  margin: 10px;
}
